mixin button(options)
  - const {text, type, submit, hover, narrow= false} = options
  - const hoverClass = hover? `button__${type}_hover`: "";
  - const internalHoverClass = hover? `button__internal-${type}_hover`: "";
  - const typeClass = `button__${type} ${hoverClass}`
  - const narrowClass = narrow ? "button__internal_narrow" : ""
  - const internalTypeClass = `button__internal-${type} ${internalHoverClass} ${narrowClass}`
  - const submitIconClass = 'icon-arrow_forward';

  if submit
    button.button(class= typeClass type= 'submit')
      .button__align-wrap
        .button__icon.button__icon_invisible-for-aligning(class= submitIconClass)
        .button__internal(class= internalTypeClass)= text
        .button__icon.button__icon-visible(class= submitIconClass)
  else
    button.button(class= typeClass)
      .button__internal(class= internalTypeClass)= text